<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDAO" class="com.squirrel.courses.dataaccess.dao.user.JdbcUserDAO">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="courseDAO" class="com.squirrel.courses.dataaccess.dao.course.JdbcCourseDAO">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <!--<bean id="courseService" class="com.squirrel.courses.service.course.CourseService">
        <property name="courseDAO" ref="courseDAO" />
    </bean>-->

    <!--
    <bean id="lessonDAO" class="com.squirrel.courses.dataaccess.dao.lesson.JdbcLessonDAO">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="answerDAO" class="com.squirrel.courses.dataaccess.dao.answer.JdbcAnswerDAO">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="testDAO" class="com.squirrel.courses.dataaccess.dao.test.JdbcTestDAO">
        <property name="dataSource" ref="dataSource" />
    </bean>
    -->
</beans>