<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="footer-css">
        <link rel="stylesheet"  type="text/css" th:href="@{/css/footer.css}">
    </div>
</head>
<body>
    <div th:fragment="footer">
        <footer class="foot">
            <div class="footcont">
                <div class="contact">
                    <p><strong>Contacts:</strong></p>
                    <p>maxuaforever@gmail.com</p>
                </div>
                <div class="copyright">
                    <p>&copy 2009 - 2018 All rights reserved</p>
                </div>
            </div>
        </footer>
    </div>
</body>