<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Ooops...</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/error.css}">
</head>
<body>
<div class="errorGif">
    <img th:src="@{/img/vincent.gif}" alt="">
</div>
<div class="errorText">
    <h3>Ooops... Something went wrong.</h3>
    <h1>Seems like we are experiencing technical difficulties.</h1>
    <button type="button" name="button" onclick="location.href='/allcourses'"><h3>Go back</h3></button>
</div>
</body>
</html>