<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Access denied</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/error.css}">
</head>
<body>
<div class="errorSWAT">
    <img th:src="@{/img/Swat-Free-PNG-Image.png}" alt="">
</div>
<div class="errorText">
    <h3>Looks like you don't have permission to open this page.</h3>
    <h1>Please return to the main page or we will call the cops.</h1>
    <button type="button" name="button" onclick="location.href='/allcourses'"><h3>Go back</h3></button>
</div>
</body>
</html>