.foot {
  font: 12px sans-serif;
  padding: 1%;
  border-top: 2px solid #08BFBB;
  margin-top: 10px;
  background-color:  #a3d7f9;
}

.contact {
  float: left;
  margin-left: 50px;
}

.copyright {
  float: right;
  margin-right: 50px;
  margin-top: 20px;
}

.footcont {
  overflow: hidden;
}
