a, a:visited {
  text-decoration: none;
  position: relative;
  color: #ffffff;
}

a:after, a:visited:after {
  content: '';
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background: #ffffff;
  transition: 0.4s;
}

a:hover:after, a:visited:hover:after {
  width: 100%;
}

/*header*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  /*justify-content: space-between;*/
  padding: 5px;
  background: #5682a3;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
  border-bottom: 2px solid /*#000000*/#627F9E;
  height: 70px;
  min-width: 1300px;
  z-index: 2;
}

header headercount {
  display: flex;
  /*justify-content: space-between;*/
  width: 600px;
  margin-left: 28%;
}

.logo {
  position: absolute;
  margin-left: 100px;
  margin-top: 8px;
}

.logo img{
  height: 60px;
}

.item {
  margin-top: 20px;
  padding: 0px 30px;
}

.reg {
  width: 200px;
  display:inline;
  font-size: 14px;
  margin-left: 2%;
  margin-top: 25px;
}

.log {
  width: 80px;
  display:inline;
  font-size: 11px;
  margin-top: 5px;
}

#user_icon{
  position: absolute;
  display:inline;
  height: 14px;
  width: 14px;
  margin-top: 2px;
  margin-right: 20px;
}

.input_header {
  outline:none;
}
.input_header:focus{
  color: black;
}
form {
  margin-top: 3px;
  margin-left: 60px;
  border: black 5px;
  height: 28px;
  border-radius: 5px;
  width: 250px;
  /*margin-left: 3px;*/
  /*border-radius: 5px;*/
}

form .input_header {
  margin-top: 3px;
  margin-left: 30px;
  padding-left: 10px;
  position: absolute;
  top: 23px;
  width: 230px;
  height: 28px;
  border: none;
  background: #ffffff;
  color: #9E9C9C;
  border-radius: 5px 0 0 5px;
}

#buttonSearch{
  background: white;
  border-radius: 0 5px 5px 0;
  margin-left: 230px;
  height: 28px;
  width: 28px;
}

/*footer*/
footer {
  height: 30px;
  display: flex;
  justify-content: space-between;
  left: 6px; right:6px; bottom: 4px;
  font: 12px sans-serif;
  padding: 1%;
  border-top: 2px solid #08BFBB;
  background-color:  #7cacc9;
  border-radius: 0 0 5px 5px;
}

.contact {
  width: 1000px;
  margin: 0 auto;
}

.copyright {
  display: inline;
}

.copyright p{
  float:right;
  margin-top: 0px;
}

footer p {
  display: inline;
}

.footcont {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1000px;
}
