body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/login/skyBackground.jpg);
    background-size: cover;
}

.formcont {
    position: absolute;
    width: 300px;
    height: 340px;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -170px;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 7px 11px 0 rgba(0, 0, 0, 0.6), 0 9px 19px 0 rgba(0, 0, 0, 0.57);
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;;
}

button {
    background-color: #78c4ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.imagecont {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.logcont {
    padding: 16px;
}

.popupcont{
    display: none;
    opacity: 0.8;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
    background-color: rgba(1, 1, 1, 1);
    z-index: 100;
    overflow: auto;
}

.popup{
    display: none;
    width: 300px;
    height: 100px;
    margin: 100px auto;
    background: #fff;
    z-index: 200;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
}

.operstatus {
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
}

.close{
    width: 140px;
    height: 40px;
    margin-left: 80px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 18px;
    border: 0;
    background-color: #78c4ff;
    color: white;
}
