<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Main page</title>

    <div th:replace="fragments/header :: header-css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/aboutPage.css}">
</head>
<body>
    <div th:replace="fragments/header :: header"/>

    <div class="aboutUs">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Praesent fringilla a metus fringilla suscipit.
            Donec ultrices lorem placerat lacus accumsan ullamcorper.
            Vivamus ante sapien, laoreet et justo in, pellentesque ultrices ex.
            Nullam rutrum, eros nec dapibus varius, neque metus auctor dui, sit amet tincidunt nisl
            augue sit amet urna. Integer finibus lobortis lectus in pulvinar. Sed gravida id nunc ut egestas.
            Suspendisse pharetra porta eros ut malesuada. Nam dictum dolor vel ipsum condimentum faucibus.
            Etiam eget tincidunt purus, mattis fermentum nisl.
        </p>
        <p>
            Suspendisse nec mi eget quam condimentum interdum. Donec fringilla in urna eu mattis. Donec magna
            dolor, vestibulum at lorem non, porta tincidunt ipsum. Donec lacinia ultrices mauris, non tincidunt
            tortor. Ut ornare, mauris vel tincidunt vestibulum, orci turpis lobortis nunc, vitae fringilla quam
            ligula accumsan ipsum. Aenean eget facilisis lacus, nec pharetra mi. Nulla et eleifend nibh. Etiam
            rutrum risus eget metus feugiat mattis. Aliquam hendrerit in ipsum at aliquet. Cras at urna eros.
            Vestibulum vehicula blandit tincidunt.
        </p>
        <p>
            Nam elit arcu, faucibus nec turpis vel, mattis ultrices tellus. Maecenas commodo lacus vel iaculis
            feugiat. Fusce pretium, libero et sollicitudin sodales, arcu velit porta justo, ut molestie lorem est
            sit amet nisl. Suspendisse a metus ac ipsum blandit blandit a vitae augue. Quisque ac lectus lacus. Nullam
            ligula nunc, porttitor vitae commodo non, pulvinar non ligula. Nunc eget tellus hendrerit, venenatis odio eu,
            tempor augue. Sed feugiat augue at aliquet hendrerit.
        </p>
        <p>
            Cras nulla nisi, tincidunt eget nibh eget, dignissim hendrerit tortor. Proin mollis tincidunt vehicula. Maecenas
            viverra placerat leo ac convallis. Donec efficitur aliquam dolor eget vehicula. Suspendisse massa arcu, aliquet nec
            neque a, blandit pretium libero. Maecenas at ante facilisis purus feugiat semper at sit amet ligula. Aliquam a egestas
            elit, vitae porttitor mauris. Suspendisse dignissim orci non interdum vestibulum. Aenean vitae mattis ex, eget congue
            augue.
        </p>
    </div>
</body>
</html>