<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/addtest.css}">
    <script th:src="@{js/addtest.js}"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:replace="fragments/header :: header"/>

    <div class="main_layer">
        <div class="title" id="course_title"><%=cn%></div>
        <hr>

        <div class="leftcol">
            <button class="button_main" id="button_close" onclick="add_close();">+ Add close question</button>
            <button class="button_main" id="button_open" onclick="add_open();">+ Add open question</button>
        </div>
        <!--<%if (isExam == 1){%>action="addtestprocess.jsp?course_id=<%=c_id%>"<%} else{%> action="addtestprocess.jsp?course_id=<%=c_id%>&lesson_id=<%=l_id%>" <%}%>-->
        <form class = "rightcol" id="rightcol_id">
        <div class="material_title" data-medium-editor-element="true">Questions</div>
        <br>

        <input type="text" name="course_id" id="course_id" value="<%=c_id%>" style="display:none;"/>
        <input type="text" name="lesson_id" id="lesson_id" value="<%=l_id%>" style="display:none;"/>
        <input type="text" name="quest_count" id="quest_count_id" style="display:none;"/>
        <div id="questContent"></div>
        <div class="testButtons">
            <button class="button_main" onclick="save_test();">Save Test</button>
            <button class="button_main" name="button_cancel" onclick="openPopUpConf()">Cancel</button>
        </div>
        </form>
    </div>
    <div class="popupconfcont" id="popupconfcont">
        <div class="popupconf" id="popupconf">
            <div class="operstatus">All information will be lost. Continue?</div>
            <div class="popUpButtons">
                <button id="confirm" onclick="statusPressed('confirm');closePopUpConf();pageRedirect('course.jsp?course_id=<%=c_id%>')">OK</button>
                <button id="cancel" onclick="statusPressed('close');closePopUpConf()">Cancel</button>
            </div>
        </div>
    </div>
</body>
</html>


<!-- <div class="edit_test" id="edit_test_id" name="test">
            <label class="lbl">Number of answers (2-10):</label>
            <input type="number" id="number_id" value="2" min="2" max="10" onchange="add_answers(this);"/>
            <label class="lbl">Mark for question:</label>
            <input type="number" id="mark_id" value="1" min="0"/>
            <div class="question" id = "question_id" contenteditable="true" data-placeholder="Enter question..."
                 spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true"></div>
            <div class="answer" id = "answer_id" contenteditable="true" data-placeholder="Enter answer..."
                 spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true"></div>
            <label class="lbl">Mark for answer:</label>
            <input type="number" id="mark_id" value="0" min="0"/>
            <div class="answer" id = "answer_id" contenteditable="true" data-placeholder="Enter answer..."
                 spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true"></div>
            <label class="lbl">Mark for answer:</label>
            <input type="number" id="mark_id" value="1" min="0"/>
            <label class="lbl">Mark for question:</label>
            <input type="number" id="number_id" value="1" min="1"/>
        </div>

        <div class="edit_open" id = "edit_open_id">
            <div class="question" id = "question_id" contenteditable="true" data-placeholder="Enter open question..."
                 spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true"></div>
            <label class="lbl">Mark for question:</label>
            <input type="number" id="mark_id" value="1" min="1"/>
        </div>
-->
