<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/header :: header-css"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/course.css}">
    <script th:src="@{/js/addcourse.js}"></script>
    <title th:text="${course.getCourseName()}">Template title</title>
</head>
<body>
    <div th:replace="fragments/header :: header"/>

    <h2><p align="center" th:text="${'Course: '+ course.getCourseName()}"></p></h2>
    <div class="content">
        <div class="leftCol">
            <div id="navig">
                <h3><p id="navTitle" align="center" >Education Plan</p></h3>
                <ul th:each="testlesson : ${testlessons}">
                    <a th:href="${'lesson?lessonId='+ testlesson.getKey().getId()}" th:text="${'• ' + testlesson.getKey().getLessName()}"></a>
                </ul>
            </div>

            <div id="addLect" th:if="${isAuthor}">
                <form th:action="addlesson">
                    <input type="hidden" name="courseId" th:value="${course.getId()}" >
                    <button th:action="@{/addlesson(courseId=${course.getId()})}">Add lecture</button>
                </form>
            </div>
            <div id="addExam" th:if="${isAuthor}" th:switch="${exam}">
                <form th:case="null" th:action="addtest">
                    <input type="hidden" name="courseId" th:value="${course.getId()}">
                    <input type="hidden" name="lessonId" th:value="${course.getId()}">
                    <input type="hidden" name="isExam" th:value='true' >
                    <button th:action="@{/addtest(courseId=${course.getId()})}">Add Exam</button>
                </form>
                <form th:case="*" th:action="addtest"> "edittest"
                    <input type="hidden" name="courseId" th:value="${course.getId()}">
                    <input type="hidden" name="lessonId" th:value="${course.getId()}">
                    <input type="hidden" name="isExam" th:value='true' >
                    <button th:action="@{/edittest(courseId=${course.getId()})}">Edit Exam</button>
                </form>
            </div>

        </div>

    <div class="rightCol">
        <div id="courseInfo">
            <h2 id="courseInfoTitle" th:attr="contenteditable=${(edit && isAuthor) ? 'true' : 'false'}" th:text="${course.getCourseName()}"></h2>
            <div class = blockRow id="lecturerBlock">
                <div id="lecturer">Lecturer:</div>
                <div id="lecturerOfCourse" th:text="${course.getLecturer()}"></div>
        </div>
        <div class = blockRow id="themeBlock">
            <div id="theme">Theme:</div>
            <div id="themeOfCourse" th:attr="contenteditable=${(edit && isAuthor) ? 'true' : 'false'}"
                th:text="${course.getTheme()}"></div>
        </div>
            <div class = blockRow>
                <div id="desc">Description:</div>
                <div class= "ddesc" id="text">
                    <p id="loremm" th:attr="contenteditable=${(edit && isAuthor) ? 'true' : 'false'}"
                       th:text="${course.getDescription()}"></p>
                </div>
            </div>
            <div id="buttOfCourseInfo" th:if="${isAuthor}" th:switch="${edit}">

                <button th:case='true' onclick="update_course()">Save</button>

                <!--<button type="button" onclick="call('<%=courseId%>', '<%=edit%>')" name="button" th:text="${edit ? 'Save' : 'Edit'}"></button>-->
                <!--             Edit/Save course              --->
                <form id="data_send1" method="post" th:action="@{/editcourse}">
                    <input type="hidden" name="courseId" th:value="${course.getId()}">
                    <input hidden="true" id="courseTitle" name="course_title" value="11111111">
                    <input hidden="true" id="courseTheme" name="theme" value="22222222222">
                    <input hidden="true" id="courseDescription" name="description" value="33333333">
                </form>

                <form action="course" th:case='false'>
                    <input type="hidden" name="courseId" th:value="${course.getId()}">
                    <input type="hidden" name="edit" value='true'>
                    <button>Edit</button>
                </form>

                <form method="post" th:action="@{/deletecourse}">
                    <input type="hidden" name="courseId" th:value="${course.getId()}">
                    <button>Delete</button>
                </form>
            </div>
        </div>

        <div id="lectureInfo" th:each="testlesson : ${testlessons}">
            <div id="lectureHead">
                <div th:switch="${isAuthor}">
                    <h3 id="lectureInfoTitle">
                        <a th:case="true" class="lecture_link" th:text="${testlesson.getKey().getLessName()}" th:href="@{/lesson(lessonId=${testlesson.getKey().getId()})}"></a>
                        <a th:case="false" class="lecture_link" th:text="${testlesson.getKey().getLessName()}" th:href="@{/lesson(lessonId=${testlesson.getKey().getId()})}"></a>
                    </h3>
                </div>
            </div>
            <div id="text">
                <p id="lorem" th:text="${testlesson.getKey().getDescription()}"></p>
            </div>
            <div id="bottom" th:switch="${testlesson.getValue() == null}">

                <form th:case="true" action="addtest">
                    <input type="hidden" name="courseId" th:value="${course.getId()}" >

                    <button class="buttontest">Add test</button>
                </form>

                <form th:case="false" action="addtest">
                    <input type="hidden" name="courseId" th:value="${course.getId()}">
                    <input type="hidden" name="testId" th:value="null">
                    <button class="buttontest">Test</button>
                </form>

               <!--<button th:case="true" type="button" id="buttontest" th:if="${!isAuthor}"
                        th:action="@{/passtest(course_id=${course.getId()}, test_id='null')}">Test
                </button>-->
                <button th:case="" type="button" id="buttontest" th:if="${isAuthor}"
                        th:action="@{/edittest(course_id=${course.getId()}, test_id=${testlesson.getValue().getId()})}">Edit test
                </button>

                <div id="buttOfLectureInfo" th:if="${isAuthor}">
                    <button type="button" id = "editB"
                            th:action="@{/editlecture(course_id=${course.getId()}, lecture_id=${testlesson.getKey().getId()})}"
                            name="button">Edit</button>
                    <button type="button" onclick="openPopUpLess(${lesson.getId()})" name="button">Delete</button>
                </div>
            </div>
        </div>
    </div>
        <!--
        <ul th:each="lesson : ${lessons}">
            <div class="lesson">
                <p>
                    <a th:href="@{/lesson(idLesson=${lesson.getId()})}" th:text="${lesson.getLessName()}"></a>
                    <div class = "description" th:text="${lesson.getDescription()}"></div>
                </p>
            </div>
        </ul>

        <p th:text="${userName}"></p>
        <div th:if="${userName!=''}">
            <form action="addLesson">
                <button>Add lesson</button>
            </form>
        </div>
        -->
    </div>
</body>
</html>