<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${course}"></title>
    <div th:replace="fragments/header :: header-css"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/course.css}">
    <script th:src="@{/js/course.js}"></script>
</head>
<body>
    <div th:replace="fragments/header :: header"/>

<!--
<style>
    .leftcolumn{
        display: inline-block;
        width: 30%;
        margin-left: 10%;
    }
    .rightcolumn{
        display: inline-block;
        margin-right: 10%;
    }
</style>
-->

    <h2><p align="center" th:text="${'Course: '+ course.getCourseName()}"></p></h2>
    <div class="content">
        <div class="leftCol">
            <div id="navig">
                <h3><p id="navTitle" align="center" >Education Plan</p></h3>
                <ul th:each="testlesson : ${testlessons}">
                    <a th:href="${'lesson?idLesson='+ testlesson.getKey().getId()}" th:text="${'• ' + testlesson.getKey().getLessName()}"></a>
                </ul>
            </div>

            <div id="addLect" th:if="${isAuthor}">
                <button type="button" name="button" onclick="pageRedirect('addlecture.jsp?course_id=<%=course_id%>')">Add lecture</button>
            </div>
            <div id="addExam" th:if="${isAuthor}" th:switch="${exam}">
                <button th:case="null" th:action="@{/addtest(course_id=${course.getId()})}">Add Exam</button>
                <button th:case="*" th:action="@{/edittest(course_id=${course.getId()})}">Edit Exam</button>
            </div>

        </div>

    <div class="rightCol">
        <div id="courseInfo">
            <h2 id="courseInfoTitle" th:attr="contenteditable=${(edit && isAuthor) ? 'true' : 'false'}" th:text="${course.getCourseName()}"></h2>
            <div class = blockRow id="lecturerBlock">
                <div id="lecturer">Lecturer:</div>
                <div id="lecturerOfCourse" th:text="${course.getLecturer()}"></div>
        </div>
        <div class = blockRow id="themeBlock">
            <div id="theme">Theme:</div>
            <div id="themeOfCourse" th:attr="contenteditable=${(edit && isAuthor) ? 'true' : 'false'}"
                th:text="${course.getTheme()}"></div>
        </div>
            <div class = blockRow>
                <div id="desc">Description:</div>
                <div class= "ddesc" id="text">
                    <p id="lorem" th:attr="contenteditable=${(edit && isAuthor) ? 'true' : 'false'}"
                       th:text="${course.getDescription()}"></p>
                </div>
            </div>
            <div id="buttOfCourseInfo" th:if="${isAuthor}">
                <button type="button" onclick="call('<%=course_id%>', '<%=edit%>')" name="button" th:text="${edit ? 'Save' : 'Edit'}"></button>
                <button type="button" onclick="openPopUpConf()" name="button">Delete</button>
            </div>
        </div>

        <div id="lectureInfo" th:each="testlesson : ${testlessons}">
            <div id="lectureHead">
                <h5 id="lessonNum" th:text="${'Lecture ' + ''}"></h5>
                <%if (!user.equals(request.getAttribute("course_lecturer"))){%>
                <div th:switch="${isAuthor}">
                    <h3 id="lectureInfoTitle">
                        <a th:case="true" class="lecture_link" th:text="${testlesson.getKey().getLessName()}" th:href="@{/lecture(lecture_id=${testlesson.getKey().getId()})}"></a>
                        <a th:case="false" class="lecture_link" th:text="${testlesson.getKey().getLessName()}" th:href="@{/editlecture(course_id=${testlesson.getKey().getId()})}"></a>
                    </h3>
                </div>
            </div>
            <div id="text">
                <p id="lorem" th:text="${testlesson.getKey().getDescription()}"></p>
            </div>
            <div id="bottom" th:switch="${testlesson.getValue() == null}">
                <button th:case="true" type="button" id="buttontest" th:if="${isAuthor}"
                        th:action="@{/addtest(course_id=${course.getId()}, test_id='null'}">Add test
                </button>
                <button th:case="true" type="button" id="buttontest" th:if="${!isAuthor}"
                        th:action="@{/passtest(course_id=${course.getId()}, test_id='null')}">Test
                </button>
                <button th:case="false" type="button" id="buttontest" th:if="${isAuthor}"
                        th:action="@{/edittest(course_id=${course.getId()}, test_id=${testlesson.getValue().getId()})}">Edit test
                </button>

                <div id="buttOfLectureInfo" th:if="${isAuthor}">
                    <button type="button" id = "editB"
                            th:action="@{/editlecture(course_id=${course.getId()}, lecture_id=${testlesson.getKey().getId()})}"
                            name="button">Edit</button>
                    <button type="button" onclick="openPopUpLess(${lesson.getId()})" name="button">Delete</button>
                </div>
            </div>
        </div>
    </div>
        <!--
        <ul th:each="lesson : ${lessons}">
            <div class="lesson">
                <p>
                    <a th:href="@{/lesson(idLesson=${lesson.getId()})}" th:text="${lesson.getLessName()}"></a>
                    <div class = "description" th:text="${lesson.getDescription()}"></div>
                </p>
            </div>
        </ul>

        <p th:text="${userName}"></p>
        <div th:if="${userName!=''}">
            <form action="addLesson">
                <button>Add lesson</button>
            </form>
        </div>
        -->
    </div>
</body>
</html>