<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/addtest.css}">
    <script th:src="@{js/addtest.js}"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>

<div class="main_layer">
    <input name="q_num" id="q_num" type="text"
           th:value="${questionMap.size()}" style="display:none;">
    <div class="title" id="course_title" th:text="${course.getCourseName()}"></div>
    <hr>

    <div class="leftcol">
        <button class="button_main" id="button_close" onclick="add_close();">+ Add close question</button>
        <button class="button_main" id="button_open" onclick="add_open();">+ Add open question</button>
    </div>
    <form class = "rightcol" id="rightcol_id" th:action="@{/posttest}">
        <div class="material_title">Questions</div>
        <div th:each="question : ${questionMap}">
            <div th:switch="${question.getKey().getIsOpen()}">
                <div th:case="0" class="edit_test" id="edit_test_id" th:name="${'test' + questionStat.index}">
                    <input type="image" src="img/dlt.jpg" id="buttonDel" alt="Delete"
                           onclick="this.parentNode.parentNode.removeChild(this.parentNode);delQuest();">
                    <label class="lbl">Grade for question:</label>
                    <input th:name="${'mark' + questionStat.index}" class="num_input" id="number_id" type="number"
                           th:value="${question.getKey().getPoints()}" min="1">
                    <div th:name="${'quest' + questionStat.index}" id="question_id" class="question" contenteditable="true"
                         data-placeholder="Enter question..." role="textbox" aria-multiline="true"
                         th:text="${question.getKey().getQuestText()}"></div>
                    <textarea th:name="${'quest' + questionStat.index}" class="question_area" id="quest_id"
                              style="display:none;"></textarea>

                    <label class="lbl" id="lbl_ans_num">Number of answers (2-10):&nbsp;</label>
                    <input th:name="${'ans_cnt' + questionStat.index}" class="num_input" id="number_id"
                            onchange="add_answers(this);" type="number" th:value="${question.getValue().size()}"
                            min="2" max="10">

                    <input type="text" th:name="${'ans_cnt' + questionStat.index}" id="ans_cnt"
                           th:value="${question.getValue().size()}" style="display:none;"/>

                    <div th:each="answer: ${question.getValue()}">
                        <div id="answer_id" class="answer" contenteditable="true" data-placeholder="Enter answer..."
                             role="textbox" aria-multiline="false" th:text="${answer.getAnsText()}"
                             th:name="${answerStat.index + 'ans' + questionStat.index}"></div>
                        <textarea th:name="${answerStat.index + 'ans' + questionStat.index}" class="answer_area"
                                  id="ans_id" style="display:none;"></textarea>

                        <label class="lbl" id="lbl_ans_mark">Coef (0..1):&nbsp;</label>
                        <input th:name="${answerStat.index + 'coef' + questionStat.index}" class="num_input"
                               id="number_id" type="number" th:value="${answer.getCoef()}" min="0" step="0.1">
                    </div>
                </div>
                <div th:case="1" class="edit_open" id = "edit_open_id">
                    <input type="image" src="img/dlt.jpg" id="buttonDel" alt="Delete"
                           onclick="this.parentNode.parentNode.removeChild(this.parentNode);delQuest();">
                    <label class="lbl">Grade for question:&nbsp;</label>
                    <input th:name="${'mark' + questionStat.index}" class="num_input" id="number_id" type="number"
                           th:value="${question.getKey().getPoints()}" min="1">

                    <div id="question_id" class="question" contenteditable="true" data-placeholder="Enter open question..."
                         role="textbox" aria-multiline="true" th:name="${'quest' + questionStat.index}"
                         th:text="${question.getKey().getQuestText()}"></div>
                    <textarea th:name="${'quest' + questionStat.index}" class="question_area" id="quest_id"
                              style="display:none;"></textarea>
                </div>
            </div>
        <br>
        </div>

        <input type="text" name="isExam" id="is_exam" th:value="${isExam}" style="display:none;"/>
        <input type="text" name="courseId" id="course_id" th:value="${course.getId()}" style="display:none;"/>
        <input type="text" name="testId" id="test_id" th:value="${testId}" style="display:none;"/>
        <input type="text" name="lessonId" id="lesson_id" th:value="${lesson.getId()}" style="display:none;"/>
        <input type="text" name="questCount" id="quest_count_id" style="display:none;"/>
        <div id="questContent"></div>
        <div class="testButtons">
            <button class="button_main" onclick="save_test();">Save Test</button>
            <button class="button_main" name="button_cancel" onclick="openPopUpConf()">Cancel</button>
        </div>
    </form>
</div>
</body>
</html>


<!-- <div class="edit_test" id="edit_test_id" name="test">
            <label class="lbl">Number of answers (2-10):</label>
            <input type="number" id="number_id" value="2" min="2" max="10" onchange="add_answers(this);"/>
            <label class="lbl">Mark for question:</label>
            <input type="number" id="mark_id" value="1" min="0"/>
            <div class="question" id = "question_id" contenteditable="true" data-placeholder="Enter question..."
                 spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true"></div>
            <div class="answer" id = "answer_id" contenteditable="true" data-placeholder="Enter answer..."
                 spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true"></div>
            <label class="lbl">Mark for answer:</label>
            <input type="number" id="mark_id" value="0" min="0"/>
            <div class="answer" id = "answer_id" contenteditable="true" data-placeholder="Enter answer..."
                 spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true"></div>
            <label class="lbl">Mark for answer:</label>
            <input type="number" id="mark_id" value="1" min="0"/>
            <label class="lbl">Mark for question:</label>
            <input type="number" id="number_id" value="1" min="1"/>
        </div>

        <div class="edit_open" id = "edit_open_id">
            <div class="question" id = "question_id" contenteditable="true" data-placeholder="Enter open question..."
                 spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true"></div>
            <label class="lbl">Mark for question:</label>
            <input type="number" id="mark_id" value="1" min="1"/>
        </div>
-->
