<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lecturer page</title>
    <link rel="stylesheet" type="text/css" href="css/lecturer.css">
</head>
<body>

  <div class="title">Lecturer Page</div>
  <div class="content">
  <div class="lecturer">
      <h3><p align="center">Lecturer name<!--<%=request.getAttribute("lecturer_name")%>--></p></h3>
      <h4><p align="center">lecturer</p></h4>
      <div id="personal_info">
          <div class="lecturer_info">Specializations:
                  <!--<%
                      for (int i = 1; i < t; i++){
                  %>
                  <p align="center">- <%=request.getAttribute("theme"+i)%></p>
                  <%
                      }
                  %>-->
          </div>
          <div class="lecturer_info" >
              <details>
                  <summary>Personal information</summary>
                  <p id="persinfo"><!--<%=request.getAttribute("lecturer_description")%>--></p>
              </details>
          </div>
          <div>
              <p align="center"><a class="checktestlink" href="lecturertocheck.jsp">Check tests</a></p>
          </div>
      </div>
  </div>
  <div class = "course_column">
      <div class="courses_info">
          <div id="add_div">
              <a class="linktoadd" href="addcourse.jsp">+ Add</a>
          </div>
          <div class="hdr">My courses:</div><br/>
          <ul th:each="course : ${courses}">
            <div class="course">
                <a class="courselink" href="<!--course.jsp?course_id=<%=request.getAttribute('course_id'+i)%>-->">
                    <h4><p align="center" th:text="${course.getCourseName() + ': ' + course.getTheme()}"></p></h4>
                </a>
                <div class = "descript"> <p th:text="${course.getDescription()}"></p></div>
            </div>
          </ul>
      </div>
  </div>
  </div>

</body>
</html>
