<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/header :: header-css"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/lesson.css}">
    <script th:src="@{/js/course.js}"></script>
    <title th:text="${lesson.getLessName()}">Template title</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>

<div id="lectBlock">
    <div id="lectHead">
        <h2 th:text = "${lesson.getLessName()}"></h2>
        <p><a th:href= "'course?courseId='+${lesson.getCourse()}">Back to course</a></p>
    </div>

    <p><b><div  th:text = "'Description: '+${lesson.getDescription()}"></div> </b></p>
    <div  th:text = "${lesson.getMaterial()}"></div>
</div>
</body>
</html>