<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{css/login.css}">
</head>
<body>

    <!-- /login?error=true -->
    <div th:if="${#request.getParameter('error') == 'true'}"
         style="color:red;margin:10px 0px;">
        Login Failed!!!<br />
        Reason :
        <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
              th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
                    Static summary
        </span>
    </div>

    <div class="formcont">
        <div class="imagecont">
            <img th:src="@{img/login/customer-login.png}"class="avatar">
        </div>

        <form name='f' th:action='@{/j_spring_security_check}' method='post' class='logcontainer'>
            <input type='text' placeholder='Enter email' name='username' required>
            <input type='password' placeholder='Enter password' name='password' required>
            <button type="submit">Sign In</button>
        </form>
    </div>

</body>
</html>